@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -0.05em;

  background: linear-gradient(180deg, #691bfd 0%, #5bcdff 141.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  padding-top: 10px;

  color: #000000;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #c4c4c4;
}

p {
  margin: 0;
  padding: 0;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  width: 100%;
}

.Header .Logo {
  padding-left: 4%;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;

  background: linear-gradient(179.98deg, #cbafff 0.02%, #5bcdff 219.98%);
}

.container-one {
  width: 503px;
  height: 916px;

  background: #f9fbfa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.container-one .heading {
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 8%;
}

.container-one .task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 82%;
  padding-top: 5%;
  gap: 15px;
}

.container-one .task-container .task-box {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 450px;
  height: 61px;

  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-one .task-container .task-box-element-one {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.priority-0 {
  background-color: #fdc500;
}

.priority-1 {
  background-color: #ff985f;
}

.priority-2 {
  background-color: #ff5f5f;
}

.container-one .task-container .task-box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  flex: 1;
  height: 50px;
}

.container-one .task-container .task-box-content .task-box-header {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;

  color: black;
  margin-left: 10px;
}

.container-one .task-container .task-box-content .task-box-subheader {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #727070;
  margin-left: 10px;
}

.container-one .task-container .task-box-element-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  width: 40px;
  height: 40px;
  background: #eceeee;
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  color: #4f4f4f;
}

.container-one .task-container .task-box-element-three {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  opacity: 0.8;
}

.container-one .task-container .task-box-element-three:hover {
  opacity: 10;
}

.task-box-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background: #8646ff;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;

  color: #ffffff;
  border: none;
  opacity: 0.8;
}

.task-box-delete:hover {
  opacity: 10;
}

.completed-true {
  background-color: #a2e68a;
}

.completed-false {
  background: #ee5050;
}

.container-two {
  width: 580px;
  height: 916px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-two .covey-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;

  height: 15%;
}

.container-two .covey-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;

  height: 85%;
}

.container-two .covey-content {
  width: 270px;
  height: 220px;

  background: rgba(255, 95, 95, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.container-two .covey-content .covey-content-header {
  width: 270px;
  height: 48px;

  background: #ff5f5f;
  border-radius: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-two .covey-content .covey-content-tasks {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;

  color: #ffffff;

  margin-left: 20px;
  margin-top: 10px;
}

#NotUrgent-Header {
  background: #909090;
}

#NotUrgent-Content {
  background: #cecccc;
}

#Important-Content {
  background: rgba(255, 152, 95, 0.5);
}

#Important-Header {
  background: #ff985f;
}

.container-three {
  width: 509px;
  height: 916px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-one {
  width: 580px;
  height: 566.33px;
  background: #f9fbfa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.middle-two {
  width: 580px;
  height: 317px;
  background: #f9fbfa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.left-one {
  width: 509px;
  height: 239px;
  background: #f9fbfa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.left-two {
  width: 509px;
  height: 429px;
  background: #f9fbfa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.left-two .keep-going {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;

  color: #898383;
}

.left-two .timerDisplay {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: 109px;

  color: #8646ff;
}

.left-two .pomoButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.left-two .startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 33px;

  background: #8646ff;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  border: none;
  opacity: 0.8;
}

.startButton:hover {
  opacity: 10;
}

.left-two .pomoButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-two .pomoButtons .pomoLeftButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-two .pomoButtons .pomoRightButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-three {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 509px;
  height: 192px;
  background: #f9fbfa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.Duration {
  width: 180px;
  height: 33px;

  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #898383;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerButtons {
  display: flex;
  justify-content: row;
  justify-content: space-evenly;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.butt {
  width: 58px;
  height: 37px;
  background: #cecccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-settings {
  background: #8646ff;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: none;
  opacity: 0.8;
}

.btn-settings:hover {
  opacity: 10;
}

.noodle {
  color: #898383;
}

.left-three .stopwatch-time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 75px;
  line-height: 91px;

  color: #c4c4c4;
}

.stopwatch-button {
  width: 100px;
  height: 33px;
  background: #8646ff;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: none;
  opacity: 0.8;
}

.stopwatch-button:hover {
  opacity: 10;
}

.open-button {
  background: #8646ff;
  border: none;
  font-size: 17px;
  border-radius: 30px;
  opacity: 0.8;
  color: white;
}

.modal-root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 990;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 500px;
  width: 500px;
  background-color: white;

  border-radius: 4px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
